@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

p {
    line-height: 26px;
}

header {
    background-image: url(../images/banner/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerText {
    width: 525px;
    text-align: right;
}

.bannerText h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
}

.bannerText p {
    font-size: 16px;
    color: #FFFFFF;
    margin: 30px 0;
}

.bannerText a button,
.positiveContent button {
    font-weight: 600;
    font-size: 16px;
    color: #005FAC;
    padding: 15px;
    border-radius: 5px;
    border: none;
}

.failureSection {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.failureImgBox {}

.failureImgBox img {}

.failureTextBox {
    width: 416px;
}

.failureTextBox h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.failureTextBox>p {
    color: #444343;
    margin: 20px 0px;
}

.failureReason {}

.failureReason p {
    color: #444343;
}

.failureReason p i {
    color: green;
    margin-right: 10px;
}

/* Plan section */

.planContainer {
    text-align: center;
    width: 80%;
    margin: auto;
}

.planContainer h1 {
    font-weight: 700;
    font-size: 40px;
    margin: 130px 0 50px 0;
}

.plans {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.plan {}

.plan img {}

.plan h3 {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin: 16px 0;
}

.plan p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* Acheive Skills */

/* Skills portfolio */

.work {
    width: 80%;
    margin: auto;
    margin-top: 130px;
}

.workDesc {
    text-align: center;
}

.workDesc h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;

}

.workDesc p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.skills {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill img {}

.skill h3 {
    margin: 30px 0px 20px 0px;
    color: #181818;
}

.skill p {
    color: #757575;
}

/* Keep positive section */

.positiveContainer {
    margin: auto;
    margin-top: 130px;
    margin-bottom: 130px;
    width: 80%;
    background-image: url(../images/watch.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.linearOverlay {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(../images/gradient1.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.positiveContent {
    width: 460px;
    padding: 60px;
}

.positiveContent h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
    color: #fff;

}

.positiveContent button {}

/* Footer */

footer {
    background: #151414;
    color: #fff;
}

.footerContainer {
    padding: 130px;
    display: flex;
    justify-content: space-between;
}

.footerLeft {
    width: 485px;
}

.footerLeft h3 {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.footerLeft>p {
    margin-top: 16px;
}

.contactInfo {}

.contactInfo p {
    margin-top: 16px;
}

.socialIcon {
    margin-top: 30px;
}

.socialIcon img {
    margin-left: 10px;
}

.footerRight {
    width: 325px;
}

.footerRight h3 {
    font-weight: 700;
    font-size: 25px;
    color: #F8F8F8;
}

.footerRight input {
    margin-top: 30px;
    margin-bottom: 16px;
    padding: 10px 30px;
    background: transparent;
    color: #fff;
    border: 1px solid;
    border-radius: 8px;
}

.footerRight button {
    font-weight: 600;
    background: #005FAC;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}